body{
    overflow: auto;
}
header {
    background-color: #333;
    color: #ddd;
    text-align: center;
    padding: 30px;
}
footer {
    background-color: #333;
    color: #ddd;
    text-align: center;
    padding: 30px;
}
h6{
    float: right;
    margin-right: 5px;
    color: rgb(245, 18, 10);
}
.toolbox{
    background-color: #333;
}
.toolbox  li{
    list-style-type: none;
    font-size: 21px;
    text-align: left;
}
.toolbox  li a{
    color: #ddd;
    display: block;
}
.carlist img{
    width: 135px;
    height: 120px;
    margin: 4px auto;
}
.carlist>li{
    list-style-type: none;
    margin: auto;
}
.content img{
    width:70%;
    margin:auto;
    overflow: auto;
}